<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
<div class="body__container">

    <!-- SEARCH -->
    <article class="section section__search">
        <div class="search__wrap">

            <form action="/search" class="form--search" id="search--form">
                <input type="text" name="search" id="input--search" class="input--text" placeholder="검색하기...">
            </form>

        </div>
    </article>

</div>
</body>
</html>