@import 'variable';

// COMMON
* {
  @include common();
}

// SECTION & CONTAINER
.section {
  position: relative;

  .container {
    width: 590px;
    margin: 0 auto;
  }
}

// BUTTON
.btn {
  padding: 8px 16px;
  background: $btnBg;
  @include common($btnColor);
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

// INPUT
.input--text {
  @include common();
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 12px 14px;

  &::placeholder {
    color: $lightColor;
  }

  &::-webkit-input-placeholder {
    color: $lightColor;
  }

  &:-ms-input-placeholder {
    color: $lightColor;
  }

  &:focus {
    outline: none;
  }
}

// TITLE
.title {
  font-weight: 700;
  line-height: 1.5;
  font-size: 23px;
}
