@import 'variable';

.section--notice {
  .container {
    @include radiusBox(15px);
    background: $postBg;
  }

  .title {
    margin-bottom: 20px;
  }

  .notice {
    @include disFlex(left);
    margin-top: 20px;

    .user-profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #eee;
      margin-right: 20px;
      overflow: hidden;
    }
  }
}
