@import 'variable';

.section--post {
  .post {
    @include radiusBox(15px);
    background: $postBg;
    margin-bottom: 15px;
  }

  .create-post {
    @include flexVer();

    .btn {
      padding: 0;
      background: none;
      color: $btnBg;
      margin-right: 20px;
    }
  }

  .no-posts {
    text-align: center;

    .title {
      display: block;
    }

    .title,
    .contents {
      margin-bottom: 20px;
    }
  }

  .real-post {
    .user--info {
      width: 100%;
      @include flexHoz(space-between);
      margin-bottom: 20px;
      position: relative;

      .info--left {
        @include flexHoz(space-between);
      }

      .user-profile {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: #eee;
        overflow: hidden;
        @include disFlex();
      }

      .info--text {
        line-height: 1.5;
        margin-left: 15px;
      }

      .dropdown {
        width: 110px;
        position: absolute;
        top: 48px;
        right: 0;
        @include radiusBox(10px 0);
        background: #fff;
        line-height: 2;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 10;

        .down-items {
          cursor: pointer;
          padding: 0 15px;
          box-sizing: border-box;

          &:hover {
            background: #eee;
          }
        }
      }
    }

    .btn {
      background: none;
      padding: 0;
      color: $fontColor;
    }

    .description {
      margin-bottom: 20px;
    }

    .image-contents {
      width: 100%;
      background: #eee;
      margin-bottom: 20px;
    }

    .reaction {
      @include disFlex(space-between);

      .like {
        @include flexVer();

        .like--counter {
          margin-left: 5px;
        }

        .active {
          color: $likeActive;
        }
      }

      .comment--counter {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .input--text {
      margin-top: 20px;
    }

    .comment {
      @include flexHoz(left);
      margin-top: 15px;

      .user--info {
        margin-bottom: 0;

        .user-profile {
          width: 36px;
          height: 36px;
          margin-right: 15px;
        }

        .contents-box {
          @include radiusBox(8px, 15px);
          background: #eee;

          .user--name {
            display: inline-block;
            margin-bottom: 7px;
          }
        }

        .btn {
          font-size: 14px;
          color: $lightColor;
        }
      }
    }
  }
}
