// TEXT
$fontColor: #343a40;
$lightColor: #6c757d;
$danger: #fa5252;
$primary: #469d89;

// BUTTON
$btnColor: #fff;
$btnBg: #118ab2;
$submitBg: #06d6a0;
$likeActive: #ef476f;

// BACKGROUND
$bgColor: #eee;
$postBg: #fff;

// FUNCTION
@mixin disFlex($sortHoz: center, $sortVer: center) {
  display: flex;
  justify-content: $sortHoz;
  align-items: $sortVer;
}

@mixin flexHoz($sort: center) {
  display: flex;
  justify-content: $sort;
}

@mixin flexVer($sort: center) {
  display: flex;
  align-items: $sort;
}

@mixin radiusBox($padding, $radius: 10px) {
  border-radius: $radius;
  box-sizing: border-box;
  padding: $padding;
}
